h1 
{
  color: aquamarine;
}
.square{
     width: 50%;
}
#green {
    background-color: greenyellow;
}
#yellow {
    background-color: greenyellow;
}
#lightbrown {
    background-color: greenyellow;
}
#sand {
    background-color: greenyellow;
}
