h1 
{
  color: rgb(127, 255, 212); padding: 100px;
}
.square{
     width: 50%;
     height: 100px;
}
#green {
    background-color: rgb(47, 245, 255);
}
#yellow {
    background-color: rgb(185, 224, 126);
}
#lightbrown {
    background-color: rgb(225, 231, 200);
}
#sand {
    background-color: rgb(248, 250, 244);
}