@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Clicker+Script&display=swap');

/* page-wide */
body {
background-color: rgb(7, 242, 230);
color: rgb(251, 248, 248);
padding: 5px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* paragraph-content */
.text {
background-color: rgb(198, 134, 244); 
color: rgba(253, 254, 253, 0.777); 
padding: 10px;  
}
p::first-letter {
    font-family: 'Clicker Script', cursive;
    font-size: 2em;
    font-weight: 200;
    color: rgb(140, 20, 116);
}
.square {
    width: 50%;
    height: 100px;
}
.video {
padding-left: 50px;
}
