@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Clicker+Script&display=swap');

/* page-wide */
body {
background-color: rgb(90, 244, 234);
color: black;
padding: 5px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* paragraph-content */
.text {
background-color: burlywood; 
color: aqua; 
padding: auto;  
}