@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Clicker+Script&display=swap');

/* page-wide */
body {
background-color: rgb(90, 244, 234);
color: black;
padding: 5px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* paragraph-content */
.text {
background-color: rgb(239, 233, 143); 
color: rgb(9, 11, 11); 
padding: 10px;  
}
p::first-letter {
    font-family: 'Clicker Script', cursive;
    font-size: 4em;
}
.square{
    width: 50%;
    height: 100px;
    content-visibility: center;
}
