
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,400;400i,700');

body {
    margin: 0;

    font-family: 'lato', sans-serif
    font-size: 1.25em;
}

.navigation {
 background-color: rgb(17, 19, 18);
 width: 300px;
 height: 100%;
 position: fixed;
 top: 0px;
 left: 0px;
}
.navigation a {
    text-decoration: none;
    color: blueviolet;
}
/* Logo and title */
.site-info {
    margin: 2em auto;

    text-align: center;
    font-size: 200%;

}
.logo {
    background-color: blue;
    width: 150px;
    height: 150px;

    margin: 0 auto 1em;

    border 5px solid;
    border-radius: 100%;

    line-height: 150px;
    color: black;
}
.logo:hover {
    border-color: cyan;

}

/* Site Links */
.site-links {
    margin: 0 1em;

}
.site-links a {
    display: block;
    margin: 1em;
}
.site-links a :hover{
    margin: 2.5em;
}
/* optional links to social accts */



/*-------------------------->
    MAIN CONTENT
----------------------------*/

.main {
    background-color: antiquewhite;
    overflow: auto;
    margin-left: 300px;
    padding: 1em;
}
.banner {
    width: 100%;
    height: auto;
}