/*----------------------------->
    PAGE WIDE STYLE          
------------------------------->
*/
@import url
('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

body {
    font-family: lato;
    font-size: 1.25em;
}
/*-------------------------------->
    NAVIGATION STYLE
    ----------------------------*/

.navigation {
    width: 300px;
    background-color: rgb(17, 19, 18);
    height: 100%;
    
    position: fixed;
    top: 0px; 
    left: 0px;
}
/* Logo and title */

/* Site Links */

/* optional links to social accts */



/*-------------------------->
    MAIN CONTENT
----------------------------*/

.main {
    background-color: antiquewhite;

}