/*----------------------->
\     PAGE-WIDE STYLE    \
-------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
body {
    margin: 0;
    font-family: 'lato', sans-serif;
    font-size: 1.25em;
}
    /*------------------------->
    \    NAVIGATION STYLE     \
    --------------------------*/
.navigation {
    background-color: aqua;
    width: 300px;
    height: 100%;

    position: fixed;
    top: 0px;
    left: 0px;
}
/* Logo and title */
.site-info {
    margin: 2em;
    text-align: center;
    font-size: 200%;
}
.logo {
    background-color: chartreuse;
    width: 150px;
    height: 150px;

    margin: 100%

    border: ;
    border-radius: 100%;
    line_height: 150px
}

/* optional links to social accts */
.site-links {
    
}





/*-------------------------->
    MAIN CONTENT
----------------------------*/
.main {
    background-color: burlywood;
    margin-left: 300px;
    padding: 1em;

    overflow: auto;   
}
.banner {
    width: 100%;
    height: auto;
}